.home-header {
    display: flex;
    align-items: flex-end;
    height: 20%;
    margin-bottom: 80px;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header-logo {
    width: 25%;
}
.header-logo > button {
    background: transparent;
}
.header-logo > button > img {
    width: 100%;
}
.header-language {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    letter-spacing: .5px;
    font-size: 20px;
    font-weight: bold;
}
.header-language-en {
    opacity: .6;
}
.header-menu-button {
    background: transparent;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

@media only screen and (max-width: 1120px) {
    .home-header {
        align-items: center;
    }
}
@media only screen and (max-width: 500px) {
    .header-menu-button {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .header-language {
        font-size: 16px;
        gap: 6px;
    }
}